@use '@/app/styles/abstracts' as *;

.container {
  @include flex-center;

  margin-top: rem(215px);
}

.wrapper {
  position: relative;
  margin-left: rem(-80px);

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: var(--black-blue-10);
  }

  &::before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 200dvh;
    transform: translateY(-50%);
  }

  &::after {
    top: 50%;
    left: 0;
    width: 200dvw;
    height: 1px;
    transform: translateX(-50%);
  }
}

.circle {
  position: relative;
  z-index: 10;
  width: rem(530px);
  height: rem(530px);
  border: 1px solid var(--black-blue-10);
  border-radius: 999px;
  transform: rotate(var(--rotate));
}

.points {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pointWrapper {
  position: relative;
}

.pointTitle {
  position: absolute;
}

.dates {
  @extend %centered;

  font-size: rem(200px);
  line-height: rem(160px);
  text-align: center;
  letter-spacing: rem(-4px);
  white-space: nowrap;
}

.start {
  font-weight: 700;
  color: var(--iris-100);
}

.end {
  font-weight: 700;
  color: var(--fuschia-100);
}

.pagination {
  margin-top: rem(-48px);
}

.paginationText {
  font-size: rem(14px);
  line-height: rem(14px);
}

.buttons {
  display: flex;
  gap: rem(20px);
  margin-top: rem(20px);
}
