@use 'sass:math';
@use 'sass:map';

$breakpoints: (
  1920: 1920,
  1600: 1600,
  1366: 1366,
  1280: 1280,
  1024: 1024,
  768: 768,
  480: 480,
  375: 375,
) !default;

/// Media query
/// @param {String} $type - The type of media query (e.g., 'max', 'min')
/// @param {1920 | 1600 | 1366 | 1280 | 1024 | 768 | 480 | 375} $width - The width for the media query
@mixin media-query($type, $width) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    } @else if $type == min {
      $width: $width * 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
