@use '@/app/styles/abstracts' as *;

div.slider {
  position: relative;
  padding-bottom: rem(20px);
  margin: rem(56px) rem(160px) rem(104px) 0;
}

.wrapper {
  position: relative;
}

.pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.button {
  background-color: var(--white);
  box-shadow: 0 0 15px var(--black-blue-10);

  svg {
    color: var(--blue);
    scale: 0.9;
  }
}

.buttonWrapper {
  z-index: 10;
  display: flex;
  align-items: center;
  height: 100%;
  padding: rem(20px);
  background-color: var(--gray-100);
  transition: opacity 0.2s;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.year {
  font-family: var(--font-family-bebas-neue);
  font-size: rem(25px);
  line-height: rem(25px * 1.2);
  color: var(--blue);
}

.description {
  display: -webkit-box;
  margin-top: rem(15px);
  overflow: hidden;
  font-size: rem(20px);
  line-height: rem(30px);
  color: var(--black-blue);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
