@use '@/app/styles/abstracts' as *;

.app {
  margin-right: px-to-dvw(160px);
  margin-left: px-to-dvw(320px);

  @include media-query(max, 1280) {
    margin-right: px-to-dvw(60px);
    margin-left: px-to-dvw(60px);
  }
}
