@use '@/app/styles/abstracts' as *;

.container {
  position: relative;
}

.title {
  padding-bottom: rem(40px);
  margin-top: rem(56px);
  margin-bottom: rem(20px);
  font-size: rem(20px);
  font-weight: 700;
  line-height: rem(30px);
  border-bottom: 1px solid var(--gray-200);
}

.years {
  margin-top: rem(56px);
  text-align: center;
}

.footer {
  position: relative;
  margin-top: rem(78px);
}
