body {
  font-family: var(--font-family-pt-sans);
  font-size: 16px;
  color: var(--black-blue);
  background-color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

// button {
//   padding-inline: 0;
//   cursor: pointer;
//   background-color: transparent;
//   border: none;
// }
